In [4]:
import pandas as pd
import os

base = "/Volumes/KESU/Kaggle dataset/recruit-restaurant-visitor-forecasting/"

df = {
    'air_visit': pd.read_csv(os.path.join(base, 'air_visit_data.csv')),
    'as_store_info': pd.read_csv(os.path.join(base, 'air_store_info.csv')),
    'hpg_store_info': pd.read_csv(os.path.join(base, 'hpg_store_info.csv')),
    'air_reserve': pd.read_csv(os.path.join(base, 'air_reserve.csv')),
    'hpg_reserve': pd.read_csv(os.path.join(base, 'hpg_reserve.csv')),
    'id': pd.read_csv(os.path.join(base, 'store_id_relation.csv')),
    'date_info': pd.read_csv(os.path.join(base, 'date_info.csv'))
}

In [12]:
#Reserve -> Visitの順番で解析する
df['hpg_reserve'].columns, df['id'].columns

(Index(['hpg_store_id', 'visit_datetime', 'reserve_datetime',
        'reserve_visitors'],
       dtype='object'),
 Index(['air_store_id', 'hpg_store_id'], dtype='object'))

In [13]:
df['hpg_reserve'].head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [20]:
for col in ['visit_datetime', 'reserve_datetime']:
    for db in ['hpg_reserve', 'air_reserve']:
        df[db][col] = pd.to_datetime(df[db][col])
        df[db][col] = df[db][col].dt.date

In [21]:
df['hpg_reserve'].head()

           hpg_store_id visit_datetime reserve_datetime  reserve_visitors
0  hpg_c63f6f42e088e50f     2016-01-01       2016-01-01                 1
1  hpg_dac72789163a3f47     2016-01-01       2016-01-01                 3
2  hpg_c8e24dcf51ca1eb5     2016-01-01       2016-01-01                 2
3  hpg_24bb207e5fd49d4a     2016-01-01       2016-01-01                 5
4  hpg_25291c542ebb3bc2     2016-01-01       2016-01-01                13

In [23]:
#日にちの差分をとる
for col in ['visit_datetime', 'reserve_datetime']:
    for db in ['hpg_reserve', 'air_reserve']:
        df[db][col] = pd.to_datetime(df[db][col])
        df[db][col] = df[db][col].dt.date
        
df['reserve_datetime_diff'] = df['hpg_reserve'].apply(lambda r: (r['visit_datetime'] - r['reserve_datetime']).days, axis=1)

In [27]:
df['reserve_datetime_diff'].max()

368