In [1]:
import os
import pandas as pd 

base_dir = '/Volumes/KESU/BNP_Paribas_Cardif_Claims_Management'
dataset = os.path.join(base_dir, './dataset')

In [4]:
df_train = pd.read_csv(os.path.join(dataset, 'train.csv'))
df_test = pd.read_csv(os.path.join(dataset, 'test.csv'))

In [6]:
print('Train data')
print([col for col in df_train.columns if df_train[col].isnull().sum() > 0])
print('Test data')
print([col for col in df_test.columns if df_test[col].isnull().sum() > 0])

Train data
['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v25', 'v26', 'v27', 'v28', 'v29', 'v30', 'v31', 'v32', 'v33', 'v34', 'v35', 'v36', 'v37', 'v39', 'v40', 'v41', 'v42', 'v43', 'v44', 'v45', 'v46', 'v48', 'v49', 'v50', 'v51', 'v52', 'v53', 'v54', 'v55', 'v56', 'v57', 'v58', 'v59', 'v60', 'v61', 'v63', 'v64', 'v65', 'v67', 'v68', 'v69', 'v70', 'v73', 'v76', 'v77', 'v78', 'v80', 'v81', 'v82', 'v83', 'v84', 'v85', 'v86', 'v87', 'v88', 'v89', 'v90', 'v91', 'v92', 'v93', 'v94', 'v95', 'v96', 'v97', 'v98', 'v99', 'v100', 'v101', 'v102', 'v103', 'v104', 'v105', 'v106', 'v107', 'v108', 'v109', 'v111', 'v112', 'v113', 'v114', 'v115', 'v116', 'v117', 'v118', 'v119', 'v120', 'v121', 'v122', 'v123', 'v124', 'v125', 'v126', 'v127', 'v128', 'v130', 'v131']
Test data
['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v25', 'v26', 'v27', 'v28', 'v29', 'v30', 'v31', 'v32', 'v33', 'v34', 'v35', 'v36', 'v37', 'v39', 'v40', 'v41', 'v42', 'v43', 'v44', 'v45', 'v46', 'v48', 'v49', 'v50', 'v51', 'v52', 'v53', 'v54', 'v55', 'v56', 'v57', 'v58', 'v59', 'v60', 'v61', 'v63', 'v64', 'v65', 'v67', 'v68', 'v69', 'v70', 'v73', 'v76', 'v77', 'v78', 'v80', 'v81', 'v82', 'v83', 'v84', 'v85', 'v86', 'v87', 'v88', 'v89', 'v90', 'v91', 'v92', 'v93', 'v94', 'v95', 'v96', 'v97', 'v98', 'v99', 'v100', 'v101', 'v102', 'v103', 'v104', 'v105', 'v106', 'v107', 'v108', 'v109', 'v111', 'v112', 'v113', 'v114', 'v115', 'v116', 'v117', 'v118', 'v119', 'v120', 'v121', 'v122', 'v123', 'v124', 'v125', 'v126', 'v127', 'v128', 'v130', 'v131']

In [23]:
for col in df_train.columns:
    if df_train[col].isnull().sum() > 0:
        print(col, df_train[col].isnull().sum()/df_train[col].shape[0])

v1 0.4358954172899117
v2 0.43558051451614316
v4 0.43558051451614316
v5 0.42532867977012095
v6 0.4358954172899117
v7 0.4358954172899117
v8 0.4252849432737642
v9 0.4360616159760674
v10 0.0007347731387933975
v11 0.43593040648699716
v12 0.0007522677373360975
v13 0.4358954172899117
v14 3.498919708539988e-05
v15 0.43593040648699716
v16 0.4364464971440068
v17 0.43558051451614316
v18 0.4358954172899117
v19 0.4359916375818966
v20 0.43596539568408255
v21 0.005344599854794832
v23 0.4432693905756598
v25 0.4252849432737642
v26 0.4358954172899117
v27 0.4358954172899117
v28 0.4358954172899117
v29 0.4358954172899117
v32 0.4358954172899117
v33 0.4358954172899117
v34 0.0009709502191198468
v35 0.4358954172899117
v36 0.42532867977012095
v37 0.4359916375818966
v39 0.43593040648699716
v40 0.0009709502191198468
v41 0.4358954172899117
v42 0.4358954172899117
v43 0.43593040648699716
v44 0.43558051451614316
v45 0.4358954172899117
v46 0.4252849432737642
v48 0.43558051451614316
v49 0.4358954172899117
v50 0.0007522677373360975
v51 0.4432956324734738
v53 0.43593040648699716
v54 0.4252849432737642
v55 0.4358954172899117
v57 0.4358954172899117
v58 0.43593040648699716
v59 0.43558051451614316
v60 0.4358954172899117
v61 0.43558051451614316
v63 0.4252849432737642
v64 0.43558051451614316
v65 0.43596539568408255
v67 0.4358954172899117
v68 0.43593040648699716
v69 0.4364464971440068
v70 0.4254336473613772
v73 0.43593040648699716
v76 0.43558051451614316
v77 0.4358954172899117
v78 0.4364464971440068
v80 0.4360616159760674
v81 0.42532867977012095
v82 0.42532867977012095
v83 0.4358954172899117
v84 0.4358954172899117
v85 0.4433306216705592
v86 0.4358954172899117
v87 0.42566982444170365
v88 0.4358954172899117
v89 0.4252849432737642
v90 0.43593040648699716
v92 0.4359916375818966
v93 0.4358954172899117
v94 0.4358954172899117
v95 0.4359916375818966
v96 0.4358954172899117
v97 0.4359916375818966
v98 0.42559109874826145
v99 0.4358954172899117
v100 0.43593040648699716
v101 0.43558051451614316
v102 0.4488764094085951
v103 0.4358954172899117
v104 0.4358954172899117
v105 0.4256260879453469
v106 0.43558051451614316
v108 0.42532867977012095
v109 0.42532867977012095
v111 0.4358954172899117
v114 0.00026241897814049915
v115 0.4364464971440068
v116 0.43593040648699716
v117 0.42532867977012095
v118 0.4359916375818966
v119 0.44331312707201653
v120 0.43593040648699716
v121 0.43596539568408255
v122 0.4360616159760674
v123 0.4432956324734738
v124 0.4252849432737642
v126 0.4358954172899117
v127 0.4358954172899117
v128 0.42532867977012095
v130 0.4359916375818966
v131 0.4364464971440068

In [24]:
for col in df_test.columns:
    if df_test[col].isnull().sum() > 0:
        print(col, df_test[col].isnull().sum()/df_test[col].shape[0])

v1 0.43603192503037774
v2 0.435682253284729
v3 0.030526343395137816
v4 0.435682253284729
v5 0.42521832629618944
v6 0.43603192503037774
v7 0.43603192503037774
v8 0.42516587553434215
v9 0.4360931175858663
v10 0.0007168270785799831
v11 0.4360494086176602
v12 0.0007343106658624217
v13 0.43603192503037774
v14 1.748358728243861e-05
v15 0.4360494086176602
v16 0.436600141617057
v17 0.435682253284729
v18 0.43603192503037774
v19 0.43610185937950746
v20 0.4360581504113014
v21 0.005009047756418662
v22 0.004169835566861609
v23 0.44332258092715465
v25 0.42516587553434215
v26 0.43603192503037774
v27 0.43603192503037774
v28 0.43603192503037774
v29 0.43603192503037774
v30 0.5274973118984553
v31 0.030526343395137816
v32 0.43603192503037774
v33 0.43603192503037774
v34 0.0009091465386868077
v35 0.43603192503037774
v36 0.42521832629618944
v37 0.43610185937950746
v39 0.43604066682401893
v40 0.0009091465386868077
v41 0.43603192503037774
v42 0.43603192503037774
v43 0.4360494086176602
v44 0.435682253284729
v45 0.43603192503037774
v46 0.42516587553434215
v48 0.435682253284729
v49 0.43603192503037774
v50 0.0007343106658624217
v51 0.4433575481017195
v52 1.748358728243861e-05
v53 0.4360494086176602
v54 0.42516587553434215
v55 0.43603192503037774
v56 0.06047572840995515
v57 0.43603192503037774
v58 0.43604066682401893
v59 0.435682253284729
v60 0.43603192503037774
v61 0.435682253284729
v63 0.42516587553434215
v64 0.435682253284729
v65 0.4360581504113014
v67 0.43603192503037774
v68 0.43604066682401893
v69 0.436600141617057
v70 0.42526203526439554
v73 0.4360494086176602
v76 0.435682253284729
v77 0.43603192503037774
v78 0.436600141617057
v80 0.4360931175858663
v81 0.42521832629618944
v82 0.42521832629618944
v83 0.43603192503037774
v84 0.43603192503037774
v85 0.4433575481017195
v86 0.43603192503037774
v87 0.4254718383117848
v88 0.43603192503037774
v89 0.42516587553434215
v90 0.4360581504113014
v91 1.748358728243861e-05
v92 0.43610185937950746
v93 0.43603192503037774
v94 0.43603192503037774
v95 0.43610185937950746
v96 0.43603192503037774
v97 0.43610185937950746
v98 0.42548932189906724
v99 0.43603192503037774
v100 0.43604066682401893
v101 0.435682253284729
v102 0.44899600500030595
v103 0.43603192503037774
v104 0.43603192503037774
v105 0.4254193875499375
v106 0.435682253284729
v107 1.748358728243861e-05
v108 0.42521832629618944
v109 0.42521832629618944
v111 0.43603192503037774
v112 0.0036103607738235733
v113 0.4839282123906183
v114 0.00020980304738926333
v115 0.436600141617057
v116 0.4360494086176602
v117 0.42521832629618944
v118 0.43610185937950746
v119 0.44334880630807827
v120 0.43604066682401893
v121 0.4360581504113014
v122 0.4360931175858663
v123 0.4433575481017195
v124 0.42516587553434215
v125 0.0007343106658624217
v126 0.43603192503037774
v127 0.43603192503037774
v128 0.42521832629618944
v130 0.43610185937950746
v131 0.436600141617057

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [12]:
from sklearn.feature_selection import mutual_info_classif, mutual_info_regression, SelectKBest, SelectPercentile
from sklearn.model_selection import train_test_split

In [13]:
df_train.head()

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,...,8.000000,1.989780,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,C,NaN,9.191265,NaN,NaN,2.301630,...,NaN,NaN,0.598896,AF,NaN,NaN,1.957825,0,NaN,NaN
2,5,1,0.943877,5.310079,C,4.410969,5.326159,3.979592,3.928571,0.019645,...,9.333333,2.477596,0.013452,AE,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,C,4.225930,11.627438,2.097700,1.987549,0.171947,...,7.018256,1.812795,0.002267,CJ,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Z,NaN,NaN,NaN,0,NaN,NaN

In [14]:
df_test.head()

,ID,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,0,1.375465e+00,11.361141,C,4.200778,6.57700,2.081784,1.784386,0.011094,9.523810,...,7.619048,1.815241,1.112270e-07,AF,1.292368,3.903345,1.485925,0,2.333334,1.428572e+00
1,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,I,NaN,NaN,NaN,0,NaN,NaN
2,2,-4.903407e-07,8.201529,C,4.544371,6.55010,1.558442,2.467532,0.007164,7.142858,...,5.714286,1.970928,1.412265e-02,AV,1.128724,5.844156,1.475892,0,1.263157,-6.380022e-07
3,7,2.661870e+00,3.041241,C,1.657216,9.77308,2.078337,1.430855,1.252157,7.959596,...,4.404040,8.163614,1.100329e+00,B,1.988688,1.558753,2.448814,0,5.385474,1.493777e+00
4,10,1.252822e+00,11.283352,C,4.638388,8.52051,2.302484,3.510159,0.074263,7.612904,...,6.580644,1.325654,2.584588e-01,A,1.863796,2.666478,2.374275,0,0.681672,2.264151e+00

In [16]:
df_train.shape, df_test.shape

((114321, 133), (114393, 132))

In [17]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical_vars = list(df_train.select_dtypes(include=numerics).columns)
df_train = df_train[numerical_vars]
df_train.shape

(114321, 114)